<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentSystem">
        <activity android:name="Masini.RenaultMegane.VerificareRezervor"></activity>
        <activity android:name="Masini.RenaultKadjar.VerificareRezervor" />
        <activity android:name="Masini.RenaultClio.VerificareRezervor" />
        <activity android:name="Masini.FordFocus.VerificareRezervor" />
        <activity android:name="Masini.FordFiesta.VerificareRezervor" />
        <activity android:name="Masini.RenaultMegane.VerificareKilometrii" />
        <activity android:name="Masini.RenaultKadjar.VerificareKilometrii" />
        <activity android:name="Masini.RenaultClio.VerificareKilometrii" />
        <activity android:name="Masini.FordFocus.VerificareKilometrii" />
        <activity android:name="Masini.FordFiesta.VerificareKilometrii" />
        <activity android:name="Masini.RenaultMegane.PerioadaInchiriere" />
        <activity android:name="Masini.RenaultKadjar.PerioadaInchiriere" />
        <activity android:name="Masini.RenaultClio.PerioadaInchiriere" />
        <activity android:name="Masini.FordFocus.PerioadaInchiriere" />
        <activity android:name="Masini.FordFiesta.PerioadaInchiriere" />
        <activity android:name="Masini.RenaultMegane.Modificare_km" />
        <activity android:name="Masini.RenaultKadjar.Modificare_km" />
        <activity android:name="Masini.RenaultClio.Modificare_km" />
        <activity android:name="Masini.FordFocus.Modificare_km" />
        <activity android:name="Masini.FordFiesta.Modificare_km" />
        <activity android:name="Masini.DaciaSpring.VerificareRezervor" />
        <activity android:name="Masini.DaciaSpring.VerificareKilometrii" />
        <activity android:name="Masini.DaciaSpring.PerioadaInchiriere" />
        <activity android:name="Masini.DaciaSpring.Modificare_km" />
        <activity android:name="Masini.DaciaSandero.Modificare_km" />
        <activity android:name="Masini.DaciaSandero.PerioadaInchiriere" />
        <activity android:name="Masini.DaciaSandero.VerificareKilometrii" />
        <activity android:name="Masini.DaciaSandero.VerificareRezervor" />
        <activity android:name="Retur.FinalRetur" />
        <activity android:name="DetaliiInchiriere.DetaliiVehiculInchiriat" />
        <activity android:name="Profil.Profil" />
        <activity android:name="Profil.LogIn" />
        <activity android:name="Masini.DaciaLogan.PerioadaInchiriere" />
        <activity android:name="Masini.DaciaLogan.Modificare_km" />
        <activity android:name="Masini.DaciaLogan.VerificareRezervor" />
        <activity android:name="Masini.DaciaLogan.VerificareKilometrii" />
        <activity android:name="Profil.DetaliiClient" />
        <activity android:name="Masini.FordFiesta.FordFiesta" />
        <activity android:name="Masini.FordFocus.FordFocus" />
        <activity android:name="Masini.RenaultClio.RenaultClio" />
        <activity android:name="Masini.RenaultKadjar.RenaultKadjar" />
        <activity android:name="Masini.RenaultMegane.RenaultMegane" />
        <activity android:name="Masini.DaciaSpring.DaciaSpring" />
        <activity android:name="Masini.DaciaSandero.DaciaSandero" />
        <activity android:name="Masini.DaciaLogan.DaciaLogan" />
        <activity android:name="DetaliiInchiriere.Inchirieri" />
        <activity android:name="DetaliiInchiriere.Inchiriaza" />
        <activity android:name=".main.MainPage" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>